<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happiness">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="오늘의 행복"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".plusactivity"
            android:label="@string/title_activity_plusactivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".checkweather" />
        <activity android:name=".locationclickpage" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".myhappinessfeed_googlemap" />
        <activity
            android:name=".happyyoutube"
            android:configChanges="orientation" />
        <activity android:name=".QUESTION" />
        <activity android:name=".happynotificationpage" />
        <activity android:name=".listenmusic" />
        <activity android:name=".MYHAPPINESSFEEDIMAGECLICK" />
        <activity android:name=".intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PROFILEedit" />
        <activity android:name=".SETTING" />
        <activity android:name=".HAPPINESSIMAGEFEED_WRITE" />
        <activity android:name=".HAPPINESSIMAGEFEED" />
        <activity android:name=".MYHAPPINESSCOMMUNITY_EDIT" />
        <activity android:name=".MYHAPPINESSCOMMUNITY_WRITE" />
        <activity android:name=".MYHAPPINESSCOMMUNITY" />
        <activity android:name=".ACCOUNTPAGE" />
        <activity android:name=".HAPPINESSCATEGORY" /> <!-- <activity android:name=".FINDID" /> &lt;!&ndash; <activity &ndash;&gt; -->
        <!-- android:name=".ui.login.FINDID" -->
        <!-- android:label="@string/title_activity_findid" /> -->
        <activity android:name=".myhappinessfeed_edit" />
        <activity
            android:name=".myhappinessfeed_writeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".myfeed_searchActivity" />
        <activity android:name=".myhappinessfeedActivity" />
        <activity android:name=".findpw03Activity" />
        <activity android:name=".findpw02againActivity" />
        <activity android:name=".findpw01Activity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".joinActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>

                <!-- 아래는 위치추가할 때 넣었던 관련 코드 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="geo" />
                <!-- 위는 위치추가 관련코드 -->
            </intent-filter>
        </activity>

        <receiver
            android:name=".DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>